POSTGRES_USER=quiz
POSTGRES_PASSWORD=change_me
POSTGRES_DB=quiz
POSTGRES_PORT=5432
BACKEND_PORT=8080
FRONTEND_PORT=3000
PUBLIC_API_BASE_URL=http://localhost:8080
FRONTEND_ORIGIN=http://localhost:3000
SEED_DEMO_DATA=true
